* {margin: 0;padding: 0;box-sizing: border-box;}

.body{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    width: 100vw;

}

.content{
    width: 50vw;
    word-break: break-all;
}

#div1Wrapper
{
    width: 50vw;
}

#div1{
    height: 50vw;
    width: 100%;
    border-radius: 50%;
}



@media (max-width: 500px) {
    .body{
        display: flex;
        flex-direction:column;
        justify-content:space-around;
        width: 100vw;
        height: 100vw;
    }
    .content{
        word-break: break-all;
        width: 100vw;
        flex-wrap: wrap;
     }
     
     #div1Wrapper
     {
         height: 100vw;
         width: 100vw;
     }

     #div1{
        height: 100vw;
        width: 100vw;
        border-radius: 50%;
    }
  }